{% extends "base.html" %}
{% load static %}

{% block maincontent %}

    <div id="contact-content" class="container-fluid" > 
        <div class="row mx-auto">
            <div class="col-sm-6 text-center">
                <form role="form" action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Submit</button>
                </form>
                <br>   <!-- this is for mobile do not remove-->
            </div>
            <div class="col-sm-6 text-center"> 
                <div class="mx-auto" id="adaas-loc-map"></div>
                <br>
                <div class="mx-auto text-center"><strong>AD as a Service Inc.</strong><br>
                    7280 Pioneer Lakes Circle, West Palm Beach, FL 33413<br>
                    Phone: (561)232-5703
                </div>
            </div>
        </div>
    </div>

    <script type='text/javascript' src="{% static 'js/contact-mapgle.js' %}"></script>
    <!-- had to activate this api under hydrodynamic google accountfor the key to work -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAW1HYysJJPomvGno1ne3FKSvZ__Ft00Mk&callback=initMap"></script>

{% endblock maincontent %}