{% extends "base.html" %}
{% load static %}

{% block maincontent %}

<div id="home-content" class="container-fluid center">
    
<p>To put some stuff here in our home page</p>
<p>{{ message }}</p>
Software as a Service
Software licensing and delivery model in which software is licensed on a subscription basis and is centrally hosted

Software as a service (SaaS) is a software licensing and delivery model 
in which software is licensed on a subscription basis and is centrally hosted. 
SaaS is also known as "on-demand software" and Web-based/Web-hosted software.
</div>

{% endblock maincontent %}
