    <div id="footer"  class="container-fluid">
        <div class="row">
            <div class="col-3">
                <a href="http://www.nws.noaa.gov/oh/nwc/" target="_blank">&copy;2019 National Water Center</a>
            </div>
            <div class="col">
                <a href="https://water.noaa.gov/about/nwm/" target="_blank" style="font-size:1.1em !important;font-style:bold !important;color:#03315e !important;">NWM</a>
            </div>
            <div class="col" >
                <a href="http://adcirc.org/" target="_blank" style="font-size:1.1em !important;font-style:bold !important;color:#03315e !important;">ADCIRC</a>
            </div>
            <div class="col" >
                <a href="https://oss.deltares.nl/web/delft3d/d-flow-flexible-mesh" target="_blank" style="font-size:1.1em !important;font-style:bold !important;color:#03315e !important;">DFlow-FM</a>
            </div>
            <div class="col-4">
                <div class="float-right">Contact: Beheen.M.Trimble@noaa.gov</div>
            </div>
        </div>
    </div>
