<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <title> {% block title %} Visitor Page {% endblock %} </title>

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'fontawesome/css/all.css" rel="stylesheet" />
    <!-- Our Custom CSS -->
    <link rel="shortcut icon" type="image/png" href="{%  static 'img/cci-favicon.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/gui_style.css' %}" />

    <script defer src="{% static 'fontawesome/js/solid.min.js' %}"></script>
    <script defer src="{% static 'fontawesome/js/fontawesome.min.js' %}"></script>
    <style>

        .btn-primary {
            color: transparent !important;
            background-color: transparent !important;
            border-color: transparent !important;
        }

        .navbar { padding: .5rem 1rem !important; }
        #footer { padding-left: 30px !important; padding-right: 30px !important;
                  position: fixed !important; padding-bottom: 0px; bottom: 0;
                }

    </style>

</head>
<body>

  <div>
      <nav class="navbar navbar-expand-sm fixed-top">
          <div class="container-fluid">
            <button type="button" class="btn-primary">
                <img src="{% static 'img/cci-logo.png' %}" alt="Coastal Coupling Interface">
            </button>
          </div>
      </nav>

      {% block center-menu %} {% endblock %}

      <!-- footer -->
      <div id="footer" class="container-fluid" >
          <div class="row">
            <div class="col-sm-6">&copy;2019 National Water Center</div>
            <div class="col-sm-6">
                <div class="float-right">Contact: Beheen.M.Trimble@noaa.gov</div>
            </div>
          </div>
      </div>
  </div>
</body>
</html>
